<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>


 <div class="nav-container cf">
    <ul class="nav">
      <li id="logo"> Y </li>
      <li><a href="/"><strong>Hacker News</strong></a></li>
      <li>new &nbsp; |</li>
      <li>comments &nbsp; |</li>
      <li>ask &nbsp; |</li>
      <li>jobs &nbsp; |</li>
      <li> <a href= <%="/articles/new" %> > submit </a> </li>
    </ul>

    <ul class="logger">
    <li id="login"> login</li>
    </ul>
  </div>


  <div class="all-comments">
    <ul>
      <% @comments.each do |comment| %>
            <span class="user">&#9650; <%= comment[1] %></span><br>
            <%= comment[3] %>
            <p>Reply below</p>
             </li>
      <% end %>
    </ul>
  </div>

  <div class="add-comment">
  <form action= <%= "/articles/#{@article_id}/comments" %> method="post">
    <label for="user">Username: </label>
    <input type="text" name="user" id="user"/>
    <br>
    <label for="comment">Comment: </label>
    <br>
    <textarea name="comment" id="comment" rows="8" cols="60">
    </textarea>
    <br>
    <input type="submit" Value="add comment"/>

  </form>
  </div>


  <footer>
    <ul class="footer">
      <li>Lists &nbsp; |</li>
      <li>RSS &nbsp; |</li>
      <li>Bookmarklet &nbsp; |</li>
      <li>Guidelines &nbsp; |</li>
      <li>FAQ &nbsp; |</li>
      <li>DMCA &nbsp; |</li>
      <li>News News &nbsp; |</li>
      <li>Feature Requests &nbsp; |</li>
      <li>Bugs &nbsp; |</li>
      <li>YCombinator &nbsp; |</li>
      <li>Apply &nbsp; |</li>
      <li>Library</li>
    </ul>

    <div class="search-container">
      <form>
        <label>Search</label>
        <input type="search" name="search">
      </form>
    </div>

  </footer>

  </body>
  </html>
